
* {
  font-family: Roboto;
}

body {
  padding-top: 40px;
  padding-left: 100px;
  padding-bottom: 60px;
  padding-right: 100px;
  font-size: small;
}

iframe {
  padding-top: 30px;
}

form {
  display: block;
  width: 600px;

  /*height: 30px;*/
}

*.js-query {
  height: 30px;
  width: 300px;
  font-size: larger;
}

#submit {
  height: 36px;
  width: 60px;
}
